absl-py==2.1.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
comm==0.2.1
contourpy==1.2.0
cvxopt==1.3.2
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
deprecation==2.1.0
dm-tree==0.1.8
editdistance==0.8.1
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
flatbuffers==24.3.7
fonttools==4.48.1
gast==0.5.4
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.62.1
h5py==3.10.0
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
intervaltree==3.1.0
ipykernel==6.29.2
ipython==8.18.1
ipython-genutils==0.2.0
jedi==0.19.1
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.0.5
kiwisolver==1.4.5
Levenshtein==0.25.0
libclang==18.1.1
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.7
nbformat==5.10.2
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.0
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
plotly==5.20.0
plotly-express==0.4.1
pm4py==2.7.9.4
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.2
pydotplus==2.0.2
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-Levenshtein==0.25.0
pytz==2024.1
pyzmq==25.1.2
rapidfuzz==3.7.0
referencing==0.33.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
six==1.16.0
sortedcontainers==2.4.0
stack-data==0.6.3
statsmodels==0.14.1
StringDist==1.0.9
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
threadpoolctl==3.3.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.1
wrapt==1.16.0
xgboost==2.0.3
zipp==3.17.0
